# Main folder for all downloads made
Mainfolder: ./backup
# Port for gin webserver with statuspage
Listenport: 7033
Loglocation: ./miyuki.log
# Should files be deleted if older than X
Cleanupenabled: true
# When should the cronjob for deleting old files run
Cleanupcron: "5 0 * * *"
# File age >= Cleanupmaxage (in hours) will be deleted, 744 = 31days
Cleanupmaxage: 744
# Foldername = Name of folder inside ^Mainfolder where .tar.gz file will end
# The full path would be: <Mainfolder>/<Foldername>/<Filename>_<date>_<time>.tar.gz
Cronjobs:
  - Name: MyWebBackup
    Crontab: "30 1 * * *"
    Ftpurl: server1.example.com
    Ftpport: 5657
    Ftpuser: "test@example.com"
    Ftppass: abc123
    Retryfirstfailed: true
    Foldername: server1
    Filename: bak_server1_web
    Downloadfolders:
      - Name: "/var/www"
      - Name: "/etc/nginx"
  - Name: MyHomePictureBackup
    Crontab: "30 1 * * *"
    Ftpurl: server2.example.com
    Ftpport: 22
    Ftpuser: "test2@example.com"
    Ftppass: "abc123"
    Retryfirstfailed: true
    Foldername: server2
    Filename: bak_server2_home
    Downloadfolders:
      - Name: "/home"
        Blacklist: 
          - .cache
        Whitelist:
          - "*.png"
          - "*.jpg"
          - "*.webp"
  - Name: MyGarrysmodAddons
    Crontab: "30 1 * * *"
    Ftpurl: game.example.com
    Ftpport: 22
    Ftpuser: me
    Ftppass: abc123
    Retryfirstfailed: true
    Foldername: gmod
    Filename: bak_gmod_addons
    Downloadfolders:
      - Name: "/garrysmod/addons"
        Blacklist:
          - "*.zip"
          - mybigaddon
      - Name: "/garrysmod/sv.db"
